body {
    padding-top: 70px;
    padding-bottom: 30px;
    background: #e9ebee;
}

.panel-heading-img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    display: block;
}

.panel-heading-action {
    display: block;
}

.panel-heading-action:after {
    display: table;
    content: " ";
}

.panel-heading-action > .action-block {
    display: block;
}

.panel-heading-action > .action-time {
    color: #999;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
body {
    padding-top: 70px;
    padding-bottom: 30px;
    background: #e9ebee;
}

.page {
    padding-left: 20px;
    padding-right: 20px;
}

.panel-heading-img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    display: block;
}

.panel-heading-action {
    display: block;
}

.panel-heading-action > .action-block {
    display: block;
}

.panel-heading-action > .action-time {
    color: #999;
}

.panel-action:before,
.panel-action:after {
    display: table;
    content: " ";
}

.panel-action:after {
    clear: both;
}

.panel-video, .panel-img {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: auto;
}

.panel-video iframe, .panel-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.form-group:last-child {
    margin-bottom: 0;
}

footer .container {
    text-align: center;
}
