{% extends 'frontend/layout.html.twig' %}

{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Workbook</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container login-container" role="main">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form class="panel panel-default" action="{{ path('admin_login') }}" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="panel-heading">
                Sign in
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="email" class="sr-only">Email address</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" value="{{ lastUsername }}" required>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </div>
            </div>
            <div class="panel-footer panel-action">
                <a href="#" class="btn btn-default" type="submit">Register</a>
                <button class="btn btn-primary pull-right" type="submit">Sign in</button>
            </div>
        </form>
    </div>
{% endblock %}