{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <div class="container" role="main">

        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-img">
                        <img src="/frontend/images/avatars/simpson.jpg" alt="" class="img-responsive" />
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center">
                        <strong>{{ user.getName }}</strong>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center">
                        About me
                    </div>
                    <div class="panel-body">
                        I am awesome!
                    </div>
                </div>

                {% if is_owner(user) %}
                    <a href="#" class="btn btn-block btn-primary">Edit profile</a>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="row">
                    {% if is_owner(user) %}
                        <div class="panel panel-default">
                            <form method="POST" action="#" class="panel-body">
                                <textarea id="status" name="status"class="form-control" rows="3" placeholder="What is on your mind?" style="resize: vertical;"></textarea>
                            </form>
                            <div class="panel-footer panel-action">
                                <button id="send" type="submit" class="btn btn-primary pull-right">Submit</button>
                            </div>
                        </div>
                    {% endif %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#" class="panel-heading-img pull-left">
                                <img src="/frontend/images/avatars/simpson.jpg" alt="" width="60" height="60" />
                            </a>
                            <div class="panel-action panel-heading-action">
                                <div class="action-block">
                                    <a href="#">Rok Mohar</a> shared a <a href="#">video</a>.
                                </div>
                                <div class="action-block action-time">
                                    53 minutes ago
                                </div>
                            </div>
                        </div>
                        <div class="panel-body panel-video">
                            <iframe src="https://www.youtube.com/embed/CWujSgCrXjc" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#" class="panel-heading-img pull-left">
                                <img src="/frontend/images/avatars/john_cena.png" alt="" width="60" height="60" />
                            </a>
                            <div class="panel-action panel-heading-action">
                                <div class="action-block">
                                    <a href="#">John Cena</a> shared a <a href="#">photo</a>.
                                </div>
                                <div class="action-block action-time">
                                    53 minutes ago
                                </div>
                            </div>
                        </div>
                        <div class="panel-body panel-img">
                            <img src="/frontend/images/posts/donald_trump.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#" class="panel-heading-img pull-left">
                                <img src="/frontend/images/avatars/hillary_clinton.jpg" alt="" width="60" height="60" />
                            </a>
                            <div class="panel-action panel-heading-action">
                                <div class="action-block">
                                    <a href="#">Hillary Clinton</a> shared a <a href="#">post</a>.
                                </div>
                                <div class="action-block action-time">
                                    53 minutes ago
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            Donald Trump is the best choice for the president! <a href="#">#TrumpPence2016</a> <a href="#">#MAGA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
