{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container container-layout">
        <div class="content">
            <div class="widget-status">
                <div class="widget-status-img">
                    <a href="profile.html"><img src="images/avatars/simpson.jpg" alt="Rok Mohar" width="60" height="60" /></a>
                </div>
                <form method="POST" action="#" class="widget-status-form">
                    <div class="form-space">
                        <textarea id="status" name="status" class="input-control" placeholder="What is on your mind?"></textarea>
                    </div>
                    <div>
                        <div id="error" class="form-error"></div>
                        <button id="send" type="submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>

            <div id="wall">
                <article class="widget-post">
                    <div class="widget-post-img">
                        <a href="profile.html"><img src="images/avatars/simpson.jpg" alt="Rok Mohar" width="60" height="60" /></a>
                    </div>
                    <div class="widget-post-container">
                        <h2 class="widget-post-title">
                            <a href="profile.html">Rok Mohar</a> shared a <a href="#">video</a>.
                        </h2>
                        <div class="widget-post-content video">
                            <iframe src="https://www.youtube.com/embed/ryuhvZciER0" allowfullscreen></iframe>
                        </div>
                    </div>
                </article>

                <article class="widget-post">
                    <div class="widget-post-img">
                        <a href="profile.html"><img src="images/avatars/john_cena.png" alt="John Cena" width="60" height="60" /></a>
                    </div>
                    <div class="widget-post-container">
                        <h2 class="widget-post-title">
                            <a href="profile.html">John Cena</a> shared a <a href="#">photo</a>.
                        </h2>
                        <div class="widget-post-content">
                            <img src="images/posts/donald_trump.jpg" alt="" />
                        </div>
                    </div>
                </article>

                <article class="widget-post">
                    <div class="widget-post-img">
                        <a href="profile.html"><img src="images/avatars/hillary_clinton.jpg" alt="Hillary Clinton" width="60" height="60" /></a>
                    </div>
                    <div class="widget-post-container">
                        <h2 class="widget-post-title">
                            <a href="profile.html">Hillary Clinton</a> shared a <a href="#">post</a>.
                        </h2>
                        <div class="widget-post-content">
                            Donald Trump is the best choice for the president! <a href="#">#TrumpPence2016</a> <a href="#">#MAGA</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
