.stats-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stats-box {
    margin: 0 1%;
    width: 31%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    float: left;
}

.stats-box .content {
    padding: 10px;
}
