.stats-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stats-box {
    margin: 0 1%;
    width: 31%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    float: left;
}

.stats-box .content {
    padding: 20px 10px;
    height: 46px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.stats-box h1 {
    margin: 0 0 10px;
    padding: 0;
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.table-widget {
    background: #ffffff;
    border: 1px solid #e5e6e9;
    border-radius: 4px;
}

.table-widget th,
.table-widget td {
    padding: 5px;
    text-align: center;
    border: 1px solid #e5e6e9;
}

.table-widget th {
    font-weight: 700;
}
