body {
    background: #e9ebee;
}

.form-space
{
    margin-bottom: 10px;
}

.form-error {
    margin-bottom: 10px;
    color: #ff0000;
}

footer {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.navbar
{
    height: 40px;
    background-color: #343642;
    color: #979c9c;
}

.navbar-fixed
{
    position: fixed;
    top:   0;
    left:  0;
    z-index: 9999;
    width: 100%;
}

.navbar .logo
{
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.navbar .logo:active,
.navbar .logo:hover
{
    color: #fff;
    text-decoration: none;
}

.navbar .navmenu {
    margin-left: auto;
}

.navbar .navmenu,
.navbar .navmenu ul
{
    display: block;
}

.navbar .navmenu ul {
    margin: 5px 0;
    display: flex;
    flex-flow: row nowrap;
}

.navbar .navmenu li
{
    margin: 0 5px;
    display: block;
}

.navbar .navmenu li a
{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    text-decoration: none;
    background: transparent;
}

.navbar .navmenu li a:active,
.navbar .navmenu li a:hover
{
    color: #ddd;
    text-decoration: none;
    background: #4E505C;
    border-radius: 4px;
}

.container
{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 960px;
}

.container-layout {
    margin-top: 60px;
}

.container-nav,
.container-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*aside {
    width: 200px;
    margin-right: 20px;
}*/

@media screen
and (max-width: 413px) {
    aside {
        display: none;
    }
}

.content {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.widget-status,
.widget-post,
.widget-block
{
    margin-bottom: 20px;
}


.widget-status,
.widget-post {
    display: flex;
    flex-flow: row nowrap;
}

.widget-block {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e5e6e9;
    display: flex;
    flex-flow: column nowrap;
}


.widget-block .widget-block-title
{
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
}

.widget-status .widget-status-img,
.widget-post .widget-post-img
{
    margin-right: 20px;
    height: 60px;
    width: 60px;
    background: #fff;
}

@media screen
and (max-width: 413px) {
    .widget-status .widget-status-img,
    .widget-post .widget-post-img {
        display: none;
    }
}

.widget-status .widget-status-img img,
.widget-post .widget-post-img img
{
    width: 60px;
    height: 60px;
    display: block;
}

.widget-status .widget-status-form,
.widget-post .widget-post-container
{
    width: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e5e6e9;
    display: flex;
    flex-flow: column wrap;
}

.widget-status .widget-status-form textarea
{
    margin: 0;
    padding: 0;
    min-height: 40px;
    resize: vertical;
}

.widget-post .widget-post-title {
    margin-bottom: 20px;
}

.widget-post .widget-post-title a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.widget-post .widget-post-title a:active,
.widget-post .widget-post-title a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

.widget-post .widget-post-content a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.widget-post .widget-post-content a:active,
.widget-post .widget-post-content a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

.widget-post .widget-post-content img {
    width: 100%    !important;
    height: auto   !important;
}

iframe {
    max-width: 100% !important;
}

.profile-avatar {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}

.profile-name {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.side-menu,
.side-menu li {
    margin: 0;
    padding: 0;
    display: block;
}

h1 {
    margin-bottom: 20px;
    display: block;
    font-weight: 700;
    font-size: 22px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    display: table;
    border: 1px solid
}

.input-control
{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    display: block;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid #B2B3B6;
    color: #7F8083;
}

.btn {
    padding: 10px 20px;
    background: #348899;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.btn:active,
.btn:hover {
    background: #4EA2B3;
    cursor: pointer;
}

.stats-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stats-box {
    margin: 0 1%;
    width: 31%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    float: left;
}

.stats-box .content {
    padding: 20px 10px;
    height: 46px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.stats-box h1 {
    margin: 0 0 10px;
    padding: 0;
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.table-widget {
    background: #ffffff;
    border: 1px solid #e5e6e9;
    border-radius: 4px;
}

.table-widget th,
.table-widget td {
    padding: 5px;
    text-align: center;
    border: 1px solid #e5e6e9;
}

.table-widget th {
    font-weight: 700;
}

.side-menu a {
    color: #348899;
    text-decoration: none;
}

.side-menu a:active,
.side-menu a:hover {
    color: #348899;
    text-decoration: underline;
}
.widget-login
{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
}

.widget-login .widget-login-title
{
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
}

.widget-login .widget-login-form
{
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e5e6e9;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

label
{
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
}
