.pull-right
{
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.form-space
{
    margin-bottom: 10px;
}

footer {
    padding: 20px;
    background-color: #eee;
    text-align: center;
}

.navbar
{
    height: 40px;
    background-color: #101010;
    color: #fff;
}

.navbar-fixed
{
    position: fixed;
    top:   0;
    left:  0;
    right: 0;
    z-index: 999999;
    width: 100%;
}

.navbar .logo
{
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.navbar .logo:active,
.navbar .logo:hover
{
    color: #bbb;
    text-decoration: none;
}

.navbar .navmenu,
.navbar .navmenu ul
{
    height: 40px;
    line-height: 40px;
    display: block;
}

.navbar .navmenu li
{
    padding: 5px 2px;
    float: left;
    height: 30px;
    line-height: 30px;
    display: block;
}

.navbar .navmenu li a
{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    text-decoration: none;
    background: transparent;
}

.navbar .navmenu li a:active,
.navbar .navmenu li a:hover
{
    color: #ddd;
    text-decoration: none;
    background: #444;
}

.container
{
    margin: 0 auto;
    width: 960px;
}

.container-margin
{
    margin-top: 60px !important;
}

aside {
    width: 200px;
    float: left;
}

.content {
    margin-left: 20px;
    float: left;
}

.widget-status,
.widget-post,
.widget-block
{
    margin-bottom: 20px;
}

.widget-block {
    margin-bottom: 20px;
    padding: 10px;
    background: #eee;
}


.widget-block .widget-block-title
{
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
}

.widget-status .widget-status-img,
.widget-post .widget-post-img
{
    float: left;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    background: #eee;
}

.widget-status .widget-status-img img,
.widget-post .widget-post-img img
{
    width: 60px;
    height: 60px;
    display: block;
}

.widget-status .widget-status-form,
.widget-post .widget-post-container
{
    margin-left: 80px;
    padding: 10px;
    background: #eee;
}

.widget-status .widget-status-form textarea
{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 40px;
    resize: vertical;
}

.widget-post .widget-post-title {
    margin-bottom: 20px;
}

.widget-post .widget-post-title a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.widget-post .widget-post-title a:active,
.widget-post .widget-post-title a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

.widget-post .widget-post-content a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.widget-post .widget-post-content a:active,
.widget-post .widget-post-content a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

.profile-avatar {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}

.profile-name {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.side-menu,
.side-menu li {
    margin: 0;
    padding: 0;
    display: block;
}

h1 {
    margin-bottom: 20px;
    display: block;
    font-weight: 700;
    font-size: 22px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    display: block;
}
